*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    margin: auto;
    background-color: antiquewhite;
    height: 8vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    list-style: none;
    position: absolute;
    top: 8vh;
    right: 0;
    height: 90%;
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10rem;
    background-color: grey;
    display: none;
}



#title:hover {
    cursor: pointer;
}

.cart img {
    width: 70%;
}

.hamburger div {
    width: 30px;
    height: 5px;
    background-color: black;
}

#line2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em 0;
    text-align: center;
    align-items: center;

    justify-content: center;
}

.category, .tv, .headphones, .console, .speaker, .camera, .scooter {
    width: 80%;
    background-color: sandybrown;
    padding: 10px;
    border-radius: 10px;
    height: 375px;
    transition: 0.5s ease;
    font-weight: bold;
}

.category {
    font-size: 1.5rem;
}

.category .image{
    height: 300px;
}

.category .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat_Name {
    margin-top:15px;
}
.category:hover, .tv:hover, .headphones:hover, .console:hover, .speaker:hover, .camera:hover, .scooter:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.tv, .headphones, .console, .speaker, .camera, .scooter {
    height: 425px;
}

.button {
    width: 30%;
    height: 40px;
    background-color: red;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 8px;
    margin-top: 10px;
    color: white;
}

.button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.tv:nth-child(1) .tv_image {
    background-color: lightslategray;
}

.tv:nth-child(2) .tv_image {
    background-color: peru;
}

.tv:nth-child(3) .tv_image {
    background-color: turquoise;
}

.tv:nth-child(4) .tv_image{
    background-color: lightyellow;
}

.tv:nth-child(5) .tv_image {
    background-color: mediumvioletred;
}

.tv:nth-child(6) .tv_image {
    background-color: greenyellow;
}


.tv .tv_image {
    height: 300px;
}

.tv .tv_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.tv_name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.headphones .headphones_image {
    height: 300px;
}

.headphones .headphones_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.console .console_image {
    height: 300px;
}

.console .console_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.speaker .speaker_image {
    height: 300px;
}

.speaker .speaker_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.speaker_name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.camera .camera_image {
    height: 300px;
}

.camera .camera_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.scooter .scooter_image {
    height: 300px;
}

.scooter .scooter_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    background-color: black;
    color: white;
   
    margin: 10em auto;
    height: 500px;
    justify-content: space-around;
}

.form h1 {
    text-align: center;
    font-size: 3rem;
}
.form div {
    width: 100%;
}

.form input {
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
   color: white;
   background-color: black;
}

.form input:focus {
    outline: none;
}

.form input:hover {
    border-color: red;
}

.form textarea {
    padding: 10px;
    width: 80%;
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    color: white;
}

.form textarea:hover {
    border-color: red;
}

.form textarea:focus {
    outline: none;
}

.formbtn {
    width: 20%;
    padding: 10px;
    margin: 0 auto;
    font-weight: bolder;
    font-size: 1.1rem;
}

.formbtn:hover {
    cursor: pointer;
}



@media screen and (min-width: 608px) {
    .container {
        flex-direction: row;
        padding-left: 2em;
        padding-right: 2em;
    }

    .category, .tv, .headphones, .console, .speaker, .camera, .scooter {
        flex: 1 1 40%;
    }

}

@media all and (min-width: 920px) {
    .category, .tv, .headphones, .console, .speaker, .camera, .scooter {
        flex: 1 1 30%;
        max-width: 420px;
    }

    .nav-links {
        position: static;
        display: inline-flex;
        flex-direction: row;
        background-color: antiquewhite;
        justify-content: space-around;
        width: 40%;
        order: 3;
    }

    .nav-links li {
        transition: 2s ease-in;
        
    }

    .nav-links li a {
        text-decoration: none;
    }
    
    .nav-links li:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .cart {
        order: 4;
    }

    .hamburger {
        display: none;
    }

    
}




